body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.background {
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/1455.jpg"); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contact-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 10px 0;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.1); /* Efeito de hover */
}
