<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <title>Gustavo Antonio</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'/>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Raleway", sans-serif;
        background-image: url("https://512pixels.net/downloads/macos-wallpapers-thumbs/10-6--thumb.png");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <br />
  <body
    class="flex flex-col items-center justify-center min-h-screen space-y-8"
  >
    <!-- Profile Section -->
    <div class="bg-white p-16 rounded-lg shadow-lg text-center w-full max-w-lg">
      <div class="w-48 h-48 rounded-full mx-auto mb-4 bg-gray-300">
		<img class="w-48 h-48 rounded-full mx-auto mb-4 bg-gray-300" src="static/images/gusta_image.jpg" alt="foto Gustavo">
	  </div>
      <h1 class="text-3xl font-bold mb-4">Gustavo Antonio</h1>
      <p class="text-gray-600 mb-6">Estudante de Engenharias na UnB</p>
      <div class="flex justify-center space-x-4">

        <!-- adicionar links para redes sociais -->  
        
        <a class="text-gray-600 hover:text-gray-800" href="#">
          <i class="fa-brands fa-square-threads"></i>
        </a>
        <a class="text-gray-600 hover:text-gray-800" href="https://www.instagram.com/sheik.gustav/?hl=pt-br">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a class="text-gray-600 hover:text-gray-800" href="https://github.com/gus-ant">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>

    <!-- Introduction Section -->
    <div class="bg-white p-12 rounded-lg shadow-lg w-full max-w-lg">
      <h2 class="text-2xl font-bold mb-4">Introdução</h2>
      <p class="text-gray-600">
        Sou um estudante de Engenharia apaixonado por aeronaves e criação de
        software. Já realizei projetos em Python para gestão de pessoas, análise
        de dados e desenvolvimento de videogames.
      </p>
    </div>

    <!-- Skills Section -->
    <div class="bg-white p-12 rounded-lg shadow-lg w-full max-w-lg">
      <h2 class="text-2xl font-bold mb-4">Habilidades</h2>
      <ul class="list-disc list-inside text-gray-600">
        <li>HTML, CSS, JavaScript</li>
        <li>React, Angular, Vue.js</li>
        <li>Node.js, Express</li>
        <li>Design Responsivo</li>
        <li>Controle de Versão (Git)</li>
      </ul>
    </div>

    <!-- Education Section -->
    <div class="bg-white p-12 rounded-lg shadow-lg w-full max-w-lg">
      <h2 class="text-2xl font-bold mb-4">Formação</h2>
      <div>
        <h4 class="font-bold">Ensino Médio</h4>
        <p class="text-gray-600">Colégio Isaac Newton, 2021 - 2023</p>
        <br />
        <h4 class="font-bold">Bacharel em Engenharia Aeroespacial</h4>
        <p class="text-gray-600">Universidade de Brasília (UnB), 2024 -</p>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w-full text-center text-gray-200 text-sm mt-8">
      Made with ❤ in Brasília
    </footer><br>
</html>
